{{> navcontest}}

<h3>Problem Code</h3>
{{CPCode}}
<br />

<h3>Problem Statement</h3>
{{CPText}}
<br />

<h3>Input</h3>
{{CPInput}}
<br />

<h3>Output</h3>
{{CPOutput}}
<br />

<br />
<br />

<h4>Problem Setter</h4>
{{CPSetter}}
<br />

<h4>Problem Tester</h4>
{{CPTester}}
<br />

<h4>Date Added</h4>
{{CPDate}}
<br />

<h4>Time Limit</h4>
{{TL}}
<br />

<h4>Memory Limit</h4>
{{ML}}
<br />

<h4>Score</h4>
{{Score}}
<br />
<br />


<form action="/contests/quespage/prob/{{CPCode}}" method="POST">
	<input type="submit" name = "submit" value = "Submit Code"><br /><br />
</form>