

<br />
<br />
{{> navcontest}}

<br />
<br />

<style>
	.probs{
		display: grid;
		grid-template-columns: 2fr 1fr;
		
		
		width: 85%;
	}
	.sec{
		padding:20px;
		text-align: center;
		justify-content: center;
	}
</style>



	<h3>{{CName}}</h3>
	<h5>{{CCode}}</h5>
	
	<div class = "probs">
		<div class = "sec">
			<h3>{{pt}}</h3>
			<br /><br />
			<ul type = "none">
				{{#each CProblems}}
					<a href="/contests/quespage/prob/{{this}}">{{this}}</a><br /><br />
				{{/each}}
				
			</ul>
		</div>
		<div class = "sec">
			{{CStatus}}
			<br />
			<a href = "/contests/ranklist/{{CCode}}">Ranklist</a>
			<br />
		</div>
	</div>


	
