<style>
    table{
    }
    th, tr{
        padding:5px;
        justify-content: center;
        text-align: center;
    }
</style>

{{> navcontest}}

<br />
<br />
<h2>Ranklist</h2>
{{#if cuser.length}}
    {{cuser.[0]}}: {{cuser.[1]}}
{{/if}}


<table border="2px solid black" style = "width:80%">
    <tr>
        <th>Username</th>
        <th>Score</th>
        <th>Penalty</th>
        {{#each pC}}
            <th>{{this}}</th>
        {{/each}}
    </tr>
    {{#each data}}
        <tr>
            <td>{{@key}}</td>
            <td>{{score}}</td>
            <td>{{penalty}}</td>
            {{#each problem}}
                {{!-- {{this.[1]}} --}}
                <td>{{this.score}} - {{this.p}}</td>
            {{/each}}
            
        </tr>
    {{/each}}
</table>