<style>

    td, th{
        padding:10px;
        width:130px;
        text-align: center;
        justify-content: center;
    }

</style>

{{> navcontest}}

<br />
<br />

<table border = "1px solid #000">
    <tr>
        <th>S_ID</th>
        <th>User</th>
        <th>ProbCode</th>
        <th>DT</th>
        <th>Verdict</th>
        <th>Time</th>
        <th>Memory</th>
    </tr>
    
    {{#each subs}}
        <tr>
            <td><a href = "/contests/usersubmission/{{this.[0]}}">{{this.[0]}}</a></td>
            <td>{{this.[1]}}</td>
            <td>{{this.[2]}}</td>
            <td>{{this.[3]}}</td>
            <td>{{this.[4]}}</td>
            <td>{{this.[5]}}ms</td>
            <td>{{this.[6]}}KB</td>

        </tr>
    {{/each}}

    
</table>
<br />
<a href = "/contests/status/{{first}}"> First </a>&nbsp;
<a href = "/contests/status/{{prev}}"> Prev </a>&nbsp;
<a href = "/contests/status/{{next}}"> Next </a>&nbsp;
<a href = "/contests/status/{{last}}"> Last </a>&nbsp;

<br />
Display {{nos}} results per page<br />
<br />
Page {{page}} of {{last}}
<br />