<br />

<h4>Problem Code</h4>
<h5>{{code}}</h5>
<br />
<br />
<h4>Statement</h4>
<h5>{{statement}}</h5>
<br />
<br />
<h4>Sample Input</h4>
<h5>{{input}}</h5>
<br />
<br />
<h4>Sample Output</h4>
<h5>{{output}}</h5>
<br />
<br />
<h4>Problem Setter</h4>
<h5>{{setter}}</h5>
<br />
<br />
<h4>Problem Tetser</h4>
<h5>{{tester}}</h5>
<br />
<br />
<h4>Time Limit</h4>
<h5>{{tl}} seconds</h5>
<br />
<br />
<h4>Memory Limit</h4>
<h5>{{ml}} Mega Bytes</h5>
<br />
<br />
<h4>Date Added</h4>
<h5>{{date}}</h5>
<br />
<br />