<style type="text/css" media="screen">
    #editor { 
        
        
        overflow-y: scroll;
    }
</style>

User: {{who}}<br />
Problem Code: {{which}}<br />
Date and Time: {{when}}<br />
Verdict: {{verdict}}<br />
Time: {{time}}ms<br />
Memory: {{memory}}KB<br />
Language: {{language}}<br />
<br />
Code:
<br /><br />
<select class="selectpicker" data-live-search="true" class="form-control" name="theme" id="theme" onchange="changet()">
              <option value="light1" id="c" selected>Light1</option>
              <option value="light2" id="c++">Light2</option>
              <option value="dark1" id="c" >Dark1</option>
              <option value="dark2" id="c++">Dark2</option>
            </select>  

<pre id = "editor">{{code}}</pre>



<br /><br />




<br /><br />


<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-themelist.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-c_cpp.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/theme-textmate.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-modelist.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/ace/src/ace.js"></script>
<!-- load ace modelist extension -->
<script src="/ace/src/ext-modelist.js"></script>
<script>
    var editor = ace.edit("editor");
    editor.renderer.setScrollMargin(10, 10, 10, 10);
    editor.setTheme("ace/theme/xcode");
    editor.setShowPrintMargin(false);
    editor.session.setMode("ace/mode/c_cpp");
    editor.setReadOnly(true);
    var modelist = ace.require("/ace/ext/modelist");
    
    var filePath = __dirname+"/submissions/"+s_id+".cpp";
    
    var mode = modelist.getModeForPath(filePath).mode;
    function changet(){
        var y = document.getElementById("theme");
        var x = y.options[y.selectedIndex].value;
        if(x=="light1"){
            editor.setTheme("ace/theme/xcode");
        }else if(x=="dark1"){
            editor.setTheme("ace/theme/twilight");
        }else if(x=="light2"){
            editor.setTheme("ace/theme/textmate");
        }
        else if(x=="dark2"){
            editor.setTheme("ace/theme/monokai");
        }
    }
    
    var modeValue = {{language}};
    if (modeValue == "C") {
    	editor.session.setMode("ace/mode/c_cpp");
    	editor.setValue("#include <stdio.h>\n\n\nint main() {\n    // Complete the code.\n    return 0;\n}\n");
        editor.clearSelection();
    }
    if (modeValue == "C++") {
    	editor.session.setMode("ace/mode/c_cpp");
    	editor.setValue("#include <iostream>\nusing namespace std;\n\nint main() {\n    // Complete the code.\n    return 0;\n}\n");
        editor.clearSelection();
    }
    if (modeValue == "Java") {
    	editor.session.setMode("ace/mode/java");
    	editor.setValue("import java.util.*;\nimport java.lang.*;\nimport java.io.*;\n\nclass Main\npublic static void main (String[] args)]\n	{\n		// your code goes here\n	}\n}");
        editor.clearSelection();
    }
    if(modeValue == "Python") {
        editor.session.setMode("ace/mode/python");
        editor.setValue("# Enter your code here. Read input from STDIN. Print output to STDOUT");
        editor.clearSelection();
    }
    if (modeValue == "Javascritp") {
    	editor.session.setMode("ace/mode/javascript");
    	editor.setValue("// Enter your code here.");
        editor.clearSelection();
    }

$(document).ready(function() {
    $('.selectpicker').selectpicker();
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>
